/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

/*      Header      */
.header-wrapper {
    background: #e6f8e5;
}

.header-content {
    width: 780px;
    margin: 0 auto 70px;
    height: 83px;
}

    .header-content .slogan {
        vertical-align: middle;
        font-size: 12px;
        padding: 30px 0;
    }

/*      Body        */
.body-content {
    width: 620px;
    margin: 0 auto;
}

    .body-content a {
        color: #000;
    }

    .body-content input[type=text], .body-content input[type=email], .body-content input[type=password] {
        padding: 6px 4px;
        font-size: 12px;
        width: 240px;
    }

    .body-content h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }


/*      Footer      */
.footer-wrapper {
    width: 100%;
    background: #144e5a;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-content {
    width: 780px;
    height: 50px;
    margin: 35px auto;
    color: #fff;
}

    .footer-content .copyright {
        float: left;
        width: 100%;
        margin-bottom: 8px;
    }

    .footer-content .footer-block {
        float: left;
        width: 33.3333%;
    }

        .footer-content .footer-block a {
            color: #fff;
        }

/*      Common      */

p {
    margin: 8px 0;
}

.btn {
    font-size: 18px;
    border: none;
    background: none;
    padding: 7px 20px;
    text-align: center;
}

    .btn.btn-primary {
        background: #eb6e0e;
        color: #fff;
        font-weight: 400;
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;
}

    .overlay .overlay-window-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .overlay .overlay-window {
        width: 420px;
        margin: 0 auto;
    }

/*      Index       */

.body-content .login-form {
    float: left;
    font-size: 12px;
}

    .body-content .login-form label {
        display: block;
        padding: 4px 0;
    }

        .body-content .login-form label input {
            display: block;
            margin: 6px 0;
        }

    .body-content .login-form input[type=submit] {
        width: 140px;
    }

.body-content .register {
    float: right;
    font-size: 12px;
}

.register-form {
    background: #e6f8e5;
    width: 100%;
}

    .register-form h2 {
        background: #93ebaa;
        width: 100%;
        display: block;
        text-align: center;
    }
